.pokemons {
    text-align: center;
    align-items: center;
   margin-top: 20px;
    padding: 50px;
    flex-wrap: wrap;
       display: flex;
}

.botones {
    margin-top: -100px;
}

section {
    background-color: purple;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    width: 150px;
  }
  
  select {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }
 
.container {
    background-color: #8c004b;
    width: 400px;
    border-radius: 20px;
    margin-left: 600px;
    text-align: center;
    height: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}  

button {
    border-radius: 15px;
    background-color: #572364;
    color: white;
}