@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');

.main{
     border-style: solid;
    color:black;
    border-width: 5px;
    width: fit-content;
    width: 10em;
    height: 16em;
    border-radius:20px; 
    padding-bottom: 20px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    
}

.main:hover{
    box-shadow: 1px 2px 42px 0px rgba(8, 0, 0, 0.825); 
}

.name{
    display: flex;
    justify-content: center;
    font-size: 100%px;
    color: black;
    margin-bottom: 0;
}

.img{
    width: 100%;
    height: 58%;
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
}

.types{
    display:flex;
    justify-content: center; 
    align-items: center;
    color: black;
    margin-bottom: 0;
}

.id{
    color: black;
    margin-left: 7px;
=======
    margin: auto;
    display: flex;
    margin-right: 15px;
    padding: 15px;
    flex-wrap: wrap;
    position: absolute;
>>>>>>> 3e5228f91feb5895c8658adc70c1be34f715bc26
}